<% content_for :title, "Editing User " + @user.name + " - Animal Puzzles" %>
<div class="container user-login text-center">
  <h1>Editing User</h1>

  <%= render 'form', user: @user %>

  <br>
  <br>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
