h1 {
// font-family: 'Architects Daughter', cursive; //good
  font-family: 'Cabin Sketch', cursive; //good
// font-family: 'Caveat Brush', cursive; //ok
// font-family: 'Gloria Hallelujah', cursive; //for h2
// font-family: 'Handlee', cursive; //ok
// font-family: 'McLaren', cursive; //good
// font-family: 'Ranchers', cursive;//ok
// font-family: 'Rancho', cursive; //ok
// font-family: 'Shadows Into Light Two', cursive; //ok
// font-family: 'Unkempt', cursive; //Very good
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive; //for h2
}
