<div class="container text-center categories-index">

  <h1>Animal Puzzles</h1>

  <div class="row group-cards">
    <% @categories.each do |category| %>
      <div class="col-sm-6 card">
        <%= link_to category, :action => 'go' do %>
          <%= image_tag category.image_url_url(:index_thumb).to_s, alt: category.name, class: "img-responsive" %>
          <h2><%= category.name %></h2>
        <% end %>
      </div>
    <% end %>
  </div> <!-- end row -->

  <% if user_signed_in? %>
    <br>
    <%= link_to 'New Category', new_category_path, class: 'btn form-btn' %>
  <% end %>
</div>
