<div class="container-fluid puzzle-edit">
  <h1>Editing Puzzle</h1>

  <%= render 'form', puzzle: @puzzle %>

  <br>
  <br>
  <%= link_to 'Show ' + @puzzle.name, @puzzle, class: "btn form-btn" %>
</div>
