<h1>Puzzles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= puzzle.name %></td>
        <td><%= puzzle.image_url %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
